<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limetac.scanner">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".LimeTAC"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="com.limetac.scanner.ui.view.tagEntity.binTag.BinTagActivity"></activity>
        <activity android:name="com.limetac.scanner.ui.view.tagEntity.helperTag.HelperTagActivity" />
        <activity android:name="com.limetac.scanner.ui.view.tagEntity.multiEntity.MultiEntityActivity" />
        <activity
            android:name="com.limetac.scanner.ui.view.scanHelper.ScanHelperActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.limetac.scanner.ui.view.tagEntity.antennaTag.AntennaTagActivity" />
        <activity android:name="com.limetac.scanner.ui.view.tagEntity.packageTag.PackageTagActivity" />
        <activity android:name="com.limetac.scanner.ui.view.settings.SettingsActivity" />
        <activity android:name="com.limetac.scanner.ui.view.tag.TagEntitiesActivity" />
        <activity android:name="com.limetac.scanner.ui.view.scanAntenna.AntennaActivity" />
        <activity android:name="com.limetac.scanner.ui.view.tag.TagScanActivity" />
        <activity
            android:name="com.limetac.scanner.ui.view.scanBin.BinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".reader.BaseActivity" />
        <activity android:name=".reader.UHFBaseActivity" />
        <activity
            android:name="com.limetac.scanner.ui.view.scanPackage.PackageScanningActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.limetac.scanner.ui.view.main.MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.limetac.scanner.ui.view.tagEntity.TagScanningActivity" />
    </application>

</manifest>